@media screen and (max-width: 630px){
    body .container__modal .item.item__contact--us{
        padding-left: 40px;
        padding-right: 40px;
        .title__modal{
            margin-bottom: 20px;
        }
    }
    .container__modal .item form .row{
        flex-direction: column;
    }
    .container__modal .item form .row .input{
        width: 100%;
        margin-top: 10px;
    }
   .container__modal .item form .row input, .container__modal .item form .row textarea{
        width: 100%;
        max-width: initial!important;
    }
    .container__modal .item form .row input.recaptcha{
        width: initial;
    }
    body .container__modal .item form .row__robot .inner{
        max-width: initial;
    }
    body .container__modal .item form .wrapper__btn{
        justify-content: center;
    }
    
}